<%- include header %>
<form method="post">
  <input type="text" name="title" style="width:530px;height:30px;font-size:25px;line-height: normal;" placeholder="在此键入标题"/><br />
  <br>
  <input type="text" name="tag1" class="input-small" placeholder="标签1"/><input type="text" name="tag2" class="input-small" placeholder="标签2"/><input type="text" name="tag3" class="input-small" placeholder="标签3"/><br />
  <br>
  <textarea id="editor" name="post" placeholder="在此键入正文"></textarea><br />
  <button class="btn btn-success" type="submit">发表</button>
</form>
<%- include footer %>
